<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'books/sidebar', user:@user, book:@books %>
    </div>
    <div class="col-xs-9">
      <h2>Book detail</h2>
        <table class="table">
          <tbody>
      	  <tr>
      	  	<td>
              <%= link_to user_path(@user.id) do %>
              <% if @user.profile_image.present? %>
                  <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100 %>
                <% else %>
                  <%= image_tag 'no_image.jpg', size: '40x40' %>
                <% end %>
                <br />
                <%= @book.user.name %>
              <% end %>
            </td>
      	    <td><%= @book.title %></td>
      	    <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit",edit_book_path(@book.id),class:"btn btn-success btn-sm edit-btn" %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に削除しますか？"},class:"btn btn-danger btn-sm edit-btn",id:"danger-btn"  %></td>
            <% end %>
      	  </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>