<!DOCTYPE html>
<html>
  <head>
    <title>Book2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
    <div class="container">
      <nav>
        <span class="header-title">Bookers</span>
      </nav>
      <nav>
        <ul class="header-list">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user.id) do %>
              <a class="glyphicon glyphicon-home list-logo" aria-hidden="true">  Home</a>
              <% end %>
            </li>
            <li>
              <%= link_to users_path do %>
              <a class="glyphicon glyphicon-user list-logo" aria-hidden="true"> Users</a>
              <% end %>
            </li>
            <li>
              <%= link_to books_path do %>
              <a class="glyphicon glyphicon-book list-logo" aria-hidden="true"> Books</a>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete  do %>
              <a class="glyphicon glyphicon-log-out list-logo" aria-hidden="true">  ogout</a>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to root_path do %>
              <span class="glyphicon glyphicon-home list-logo" aria-hidden="true"> Home</span>
              <% end %>
            </li>
            <li>
              <%= link_to about_home_path do %>
              <span class="glyphicon glyphicon-link list-logo" aria-hidden="true"> About</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-edit list-logo" aria-hidden="true"> sign up</span>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in list-logo" aria-hidden="true"> login</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <p class="notice"><%= notice %><%= alert %></p>

    <%= yield %>
<div class="container">
  <footer>
    <div class="row">
      <p class="col-md-3 col-md-offset-9">CopyRight Infratop.inc</p>
    </div>
  </footer>
</div>
  </body>
</html>
