<!DOCTYPE html>
<html>
  <head>
    <title>Book2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
    <div class="container">
      <nav>
        <ul class="header-title">Bookers</ul>
      </nav>
      <nav>
        <ul class="header-list">
          <% if user_signed_in? %>
            <li>Home</li>
            <li>User</li>
            <li>Books</li>
            <li><%= link_to "logout",destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li>Home</li>
            <li>About</li>
            <li><%= link_to "sign up", new_user_registration_path %></li>
            <li class="no-color-change"><%= link_to "login",new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
  </header>

    <%= yield %>

  <footer>
    <p>CopyRight Infratop.inc</p>
  </footer>
  </body>
</html>
